{% extends "templates/app.twig" %}

{% block title %}Axle Repair Experts!{% endblock %}

{% block content %}

    {# About Us #}
    <div class="container-fluid" id="aboutusWrap">
        <div class="container" id="aboutus">
            <div class="row w-100 h-100" style="margin: 0px auto !important;">

                <div class="col-sm-12 col-md-12 col-lg-6 text-center" data-aos-offset="0" data-aos="zoom-in">
                    <img src="{{ BaseUrl }}/images/eliteminingrepair.jpg" class="img-fluid" id="mainImg" alt="Elite Mining Repair">
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 text-left mx-auto">
                    <div class="d-inline-flex w-100" data-aos-offset="0" data-aos="zoom-in">
                        <p class="h2 titleBlack">About</p>
                        <p class="h2 titleBlk" style="padding-left: 8px !important;">Us</p>
                    </div>

                    <p class="aboutText" data-aos-offset="0" data-aos="zoom-in">Elite Mining Repair specializes in axle repair for mining equipment like scoops, shield haulers, coal haulers, mantrips, locomotives, etc. We have over 30 years of experience repairing mining components and equipment. We do other mechanical repairs for the mining industry including transmissions, tram drives, wheel units and a lot more!</p>
                </div>

            </div>
        </div>
    </div>

    {# Paralax #}
    <div class="container-fluid" id="parallax">
        <div class="container" id="parallaxContent">
            <div class="row" style="height: 100%; width: 100%; margin: auto !important;">

                <div class="col text-left m-auto" data-aos-offset="0" data-aos="zoom-in">
                    <span class="h4" id="parallaxTxt">We would love to hear from you!</span>
                </div>

                <div class="col text-right m-auto" data-aos-offset="0" data-aos="zoom-in">
                    <a href="tel:304-465-0513" class="btn btn-default btn-lg" id="callBtn">
                        <span class="h5"><i class="fas fa-phone-volume"></i> Call Us</span>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="spacer"></div>

    {# Gallery #}
    <div class="container-fluid" id="galleryWrap">
        <div class="container" id="photos">
            <div class="row" style="height: 100%; width: 100%; margin: auto !important;">
                <div class="col-12 text-left">

                    <div class="d-inline-flex w-100" data-aos-offset="0" data-aos="zoom-in">
                        <p class="h2 titleBlack">Photo</p>
                        <p class="h2 titleBlk" style="padding-left: 8px !important;">Gallery</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

        <div class="container text-center" id="slick" data-aos-offset="0" data-aos="zoom-in">
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/1_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/2_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/3_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/4_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/5_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/6_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/7_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/8_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/9_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/10_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/11_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/12_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/13_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/14_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/15_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/16_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/17_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/18_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/19_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/20_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/21_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/22_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/23_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/24_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/25_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/26_thumb.jpg" alt="Image" width="300" height="225" />
            <img class="card-img" src="{{ BaseUrl }}/images/gallery/27_thumb.jpg" alt="Image" width="300" height="225" />
        </div>

    <div class="spacer"></div>

    {# Contact Us #}
    <div class="container-fluid" id="contactWrap">
        <div class="spacer"></div>
        <div class="container" id="contact" data-aos-offset="0" data-aos="zoom-in">
            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-6 text-center">
                    <div class="d-inline-flex text-left w-100">
                        <p class="h2 titleWhite">Our</p>
                        <p class="h2 titleWht" style="padding-left: 8px !important;">Location</p>
                    </div>
                    <div class="spacer"></div>
                    <a href="https://maps.google.com/maps?ll=38.006045,-81.14314&z=17&t=h&hl=en&gl=US&mapclient=embed&cid=9386780808063754780" target="_blank">
                        <img id="gScreen" src="{{ BaseUrl }}/images/elite-map.jpg" class="img-fluid" width="100%" height="100%" alt="Map">
                    </a>
                    <div class="spacer"></div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 text-left">
                    <div class="d-inline-flex w-100">
                        <p class="h2 titleWhite">Email</p>
                        <p class="h2 titleWht" style="padding-left: 8px !important;">Us</p>
                    </div>
                    <div class="contactDiv">
                        <form id="contactUs" method="post" class="form-horizontal" action="/contact-us" novalidate="true" role="form">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col col-form-label" for="cName">Name: </label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" id="cName" name="cName" placeholder="Your name..." autocomplete="off" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col col-form-label" for="cEmail">Email: </label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" id="cEmail" name="cEmail" placeholder="your@email-address.com" autocomplete="off" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col col-form-label" for="cPhone">Phone: </label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" id="cPhone" name="cPhone" placeholder="555-555-5555" autocomplete="off" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col col-form-label" for="cMessage">Message: </label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <textarea class="form-control input-text text-area" name="cMessage" id="cMessage" rows="8" placeholder="Your message to us..." autocomplete="off" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col col-form-label" for="cCheck">We don't like spam...</label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" id="cCheck" name="cCheck" placeholder="3 + 1 = ?" autocomplete="off" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-center">
                                    {{ csrf }}
                                    <div class="messages" id="messages"></div>
                                    <div class="spacer"></div>
                                    <input type="submit" class="btn btn-default btn-lg" name="sendBtn" value="Send" id="sendBtn">
                                    <input type="reset" class="btn btn-secondary btn-lg" name="resetBtn" value="Reset" id="resetBtn">
                                </div>
                            </div>
                        </form>
                        <script src="{{ BaseUrl }}/js/contact-us.js"></script>
                    </div>
                </div>
            </div>
    </div>

    <div class="spacer"></div>

    {# Ads #}
    <div class="container-fluid d-none d-md-block" id="logosWrap">
        <div class="container" id="logos" data-aos-offset="0" data-aos="zoom-in">
            <div class="d-flex flex-row flex-nowrap justify-content-center" style="overflow: hidden !important; min-height: 200px !important;">

                <div class="col-12 text-center mt-5">

                    <!-- Google Ads -->
                    <p class="h3">- Advertise Here -</p>
                    <p class="h6">E-mail us for more info!</p>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
